#__next {
	height: 100%;
}

.ant-spin-nested-loading {
	height: 100%;
}

.ant-spin-spinning {
	height: 100%;
}

.test {
	padding: 0 15px;
	p {
		height: 200px;
		width: 100%;
		background-color: gray;
		text-align: center;
	}
}
